* {
  margin: 0;
  padding: 0;
  
}

*,
*::before,
*::after {
  box-sizing: border-box
}

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.container {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

nav {
  background-color: #fff;
  height: 55px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > a {
  font-size: 1.4rem;
  text-decoration: none;
  margin: 10px;
  width: 15vw;
  color:  #1dcaff;
}

nav > a:hover,
.active {
  background-color:  #1dcaff;
  color: white;
}

.content {
  height: calc(100% - 35px);
}

.logo > img {
  margin-top: 3vh;
  width: 400px;
}

.search-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 454px;
}

.tweet {
  display: flex;
  flex-direction: row;
  width: 640px;
  text-align: left;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.3rem;
  background-color: #fff;
}

.tweet_avatar > img {
  width: 60px;
}

.tweet__body {
  margin-left: 10px;
}

.tweet_body_header > span {
  display: inline-block;
}

span.tweet__username {
  color: black;
  font-weight: bold;
  margin-right: 10px;
}

span.tweet__handle,
span.tweet__date {
  font-size: 1.2rem;
}

.tweet_body_text {
  font-size: 1.1rem;
}

p > em {
  color: #1dcaff;
  font-weight: bold;
}

.tweet_body_text > form > input {
  width: 70%;
  height: 50px;
  margin-top: 10px;
  padding: 10px;
  font-size: 1.6rem;
}

.tweet_body_text > button {
  width: 70%;
  height: 50px;
  margin-top: 10px;
  padding: 10px;
  font-size: 1.8rem;
  border: none;
  background-color: #1dcaff;
  color: #fff;
  font-weight: bold;
}

/*******============HOME==============****/


/*******============HOME==============****/
/*******============USER-SEARCH==============****/
.top-bar {
  background-color: #1dcaff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 65px;
}

.top-bar > form > input {
  width: 500px;
  height: 45px;
  padding: 10px;
  text-align: center;
  font-size: 1.8rem;
}

.search-result-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-result-area > .tweet:hover {
  background-color: #1dcaff;
  width: 900px;
}

/*******============USER-SEARCH==============****/